<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <style>
    nav {
      background-color: #333; 
      padding: 10px; 
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    nav a {
      color: white; 
      text-decoration: none; 
      margin-right: 10px; 
    }
    
    h1 {
      text-align: center; 
      margin-top: 30px; 
    }
  </style>
</head>
<body>
  <nav>
    <a href="/Angular/singlePageApp/views/contact.html">Contact Us</a>
    <a href="/Angular/singlePageApp/views/product.html">Product</a>
    <a href="/Angular/registration.html">Registration</a>
    <a href="/Angular/converter.html">Converter</a>
  </nav>
  <h1>Welcome to APP</h1>
</body>
</html>
